@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.font-hind {
  font-family: "Hind Madurai", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.header {
  background-color: #f8f9fa;
}

.logo {
  display: none;
}

.logo img {
  width: 50px;
  height: 50px;
}
.logo h1 {
  font-size: 1.3rem;
  color: #006747;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero {
  background: linear-gradient(
    90deg,
    rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),
    rgba(0, 103, 71, 1) 50%,
    rgba(1, 50, 35, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  color: #fff;
  text-align: center;
}

.hero img {
  width: 92px;
  height: 92px;
}
.hero h2 {
  font-size: 40px;
  margin: 11px 0;
  font-weight: 700;
}
.hero p {
  font-size: 20px;
  font-weight: 600;
}
.services {
  padding: 32px 0px;
  display: flex;
  flex-direction: column-reverse;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3px;
}
.history {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 24px;
}
.history-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.history-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}
.history-title i {
  color: #5c5c5c;
}
.btn {
  color: white;
  border: none;
  padding: 12px 36px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50px;
  background: rgba(0, 166, 62, 1);
  font-size: 16px;
  font-weight: 600;
}

.btn:hover {
  background-color: #008c33;
}
.history-cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.history-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
}
.history-card h1 {
  font-size: 18px;
  font-weight: 600;
}
.history-card p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(92, 92, 92, 1);
}
.history-card h4 {
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .services {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .service-cards {
    flex: 2;
  }
  .history {
    flex: 1;
  }
}
