@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: rgba(129, 180, 134, 0.253);
}
.pointer {
  cursor: pointer;
}
.container {
  padding: 1rem 2rem;
}

.header-wrapper {
  background-color: #f8f9fa;
}

.logo {
  display: none;
}

.logo img {
  width: 50px;
  height: 50px;
}
.logo h1 {
  font-size: 1.3rem;
  color: #006747;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.love-btn,
.coin-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  color: #5c5c5c;
  border-radius: 50px;
  background: rgba(65, 255, 107, 0.1);
  padding: 11px;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: 600;
}
.love-btn img,
.coin-btn img {
  width: 30px;
  height: 30px;
}

.hero {
  background: linear-gradient(
    90deg,
    rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),
    rgba(0, 103, 71, 1) 50%,
    rgba(1, 50, 35, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  color: #fff;
  text-align: center;
}

.hero img {
  width: 92px;
  height: 92px;
}
.hero h2 {
  font-size: 40px;
  margin: 11px 0;
  font-weight: 700;
}
.hero p {
  font-size: 20px;
  font-weight: 600;
}
.services {
  padding: 32px 0px;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 7px;
}
.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  padding: 32px;
}
.card .image-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .image-bg {
  border-radius: 16px;
  background: rgba(223, 239, 255, 1);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 32px;
  height: 32px;
}
.card .title {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.card .desc {
  color: rgba(92, 92, 92, 1);
  font-size: 18px;
  font-weight: 400;
}
.card .number {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}
.card .tag {
  border-radius: 9999px;
  background: rgba(242, 242, 242, 1);
  padding: 6px 16px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
}
.card .buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 24px;
}
.buttons > button {
  flex: 1;
}
.card .btn-copy {
  border-radius: 8px;
  padding: 16px 0;
  border: none;
  cursor: pointer;
  color: rgba(92, 92, 92, 1);
  border: 1px solid rgba(212, 214, 213, 1);
  border-radius: 8px;
  background-color: #fff;
}

.card .btn-call {
  border-radius: 8px;
  padding: 16px 0;
  background-color: rgba(0, 166, 62, 1);
  color: white;
  border: none;
  cursor: pointer;
}

.history {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 24px;
  background: #fff;
}
.history-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.history-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}
.history-title i {
  color: #5c5c5c;
}
.btn {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background: rgba(0, 166, 62, 1);
  padding: 12px 36px;
  font-size: 16px;
  font-weight: 600;
}

.history-cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.history-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
}
.history-card h1 {
  font-size: 18px;
  font-weight: 600;
}
.history-card p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(92, 92, 92, 1);
}
.history-card h4 {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1rem 5rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .services {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .service-cards {
    flex: 2.3;
    gap: 30px;
  }

  .history {
    flex: 1;
  }
}
